<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}" th:with="activeTab='items', title='My Mall'">

<head>
    <script th:inline="javascript">
    $(document).ready(function () { // 페이지 로딩이 끝나면 실행할 내용

      $("#like").click(function () { // 아이디가 like인 태그의 onClickListener 등록

        $.ajax({

          type: 'GET',       // get 방식으로 전송

          url: '/item/like/[[${item.id}]]', // 요청보낼 주소 (js 안에서 thymeleaf EL을 사용하려면 대괄호 2개 쳐야 함)
            // 요청할 URL : /item/like/30(클릭한 상품 번호)

          dataType: 'json',    // 응답의 content-type (json 타입으로 받겠다!)

          success: function (result) { // 요청을 성공적으로 했다면
            $('.modal-body').html(result.message);
            $('#exampleModalCenter').modal();
          }

        });

      });

    });
  </script>
</head>

<body>
<div layout:fragment="content" class="container" th:object="${item}">
    <div class="row justify-content-center py-5">
        <img th:src="*{imageUrl}"/>
    </div>
    <div class="row justify-content-center py-5">
        <h2 class="justify-content-center" th:text="*{name}"></h2>
    </div>
    <div class="row justify-content-center">
        <span class="lead" th:text="*{#numbers.formatInteger(price, 3, 'COMMA')}"></span>
        <span class="lead"> 원</span>
    </div>
    <hr class="col-12 my-4"/>
    <div class="row justify-content-center">
        <div class="pb-5 row">
            <button class="btn btn-dark col-12 mx-1 my-2">장바구니 담기</button>
            <button id="like" class="btn btn-dark col-12 mx-1 my-21">찜하기</button>
        </div>
    </div>
    <div class="lead">
        <p>이 상품을 <span th:text="*{#lists.size('likers')}">0</span>명이 좋아합니다.</p>
    </div>
    <div class="lead">
        <p>이 상품을 <span th:text="*{#lists.size('owners')}">0</span>명이 장바구니에 담았습니다.</p>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">My Mall</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>